{%  extends 'base.html.twig' %}
{% block body %}
<title>sopranos</title>
</head>
<body>
<div class="Main">
    <div class="wrapper">
        <div class="header">
            <nav>
                <div class="logo">
                    <a  href="/home">Sopranos</a>
                </div>
                <ul>
                    <li><a href="/home">home</a >
                    </li>
                    <li><a href="contact.html.twig">contact</a>
                    </li>
                    <li><a href="inloggen.html.twig">inloggen</a>
                    </li>
                </ul>
            </nav>
            <table class="center">
                <tbody>
                <tr>
                    <td>
                        <div class="card" >
                            <img class="card-img-top" src="./img/proteïne-pizza-korst-afb.jpg" alt="Card image">
                            <div class="card-body">
                                <h4 class="card-title">pizza Pepperoni</h4>
                                <p class="card-text">Een heerlijke Italiaanse pizza </p>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                                    bestellen
                                </button>

                            </div>
                        </div></td>
                    <table class="center">
                        <tbody>
                        <tr>
                            <td>
                                <div class="card" >
                                    <img class="card-img-top" src="./img/proteïne-pizza-korst-afb.jpg" alt="Card image">
                                    <div class="card-body">
                                        <h4 class="card-title">pizza Pepperoni</h4>
                                        <p class="card-text">Een heerlijke Italiaanse pizza </p>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                                            bestellen
                                        </button>

                                    </div>
                                </div></td>
                            <table class="center">
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="card" >
                                            <img class="card-img-top" src="./img/proteïne-pizza-korst-afb.jpg" alt="Card image">
                                            <div class="card-body">
                                                <h4 class="card-title">pizza Pepperoni</h4>
                                                <p class="card-text">Een heerlijke Italiaanse pizza </p>
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                                                    bestellen
                                                </button>

                                            </div>
                                        </div></td>

{% endblock %}