{%  extends 'base.html.twig' %}
{% block body %}

    <title>romeo</title>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">Sopranos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/inloggen">inloggen</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>




    <h1 class="text-center">Welkom bij Pizzeria Sopranos </h1>

    <div class="container-fluid bg-dark fixed-bottom">
        <footer class="row">
            <footer class="col-6 text-light text-center">
                <p>
                    <a> contactgegevens</a> <br>
                    <a> restaurant sopranos</a> <br>
                    <a> Appelstraat 1</a> <br>
                    <a> 1111 AA fruit</a> <br>
                    <a> sopranos@gmail.com</a> <br>
                    <a> 06-12345678</a> <br>

                </p>

            </footer>
            <footer class="col-6 text-light text-center">
                <p>
                    <a> contactgegevens</a> <br>
                    <a> restaurant sopranos</a> <br>
                    <a> Appelstraat 1</a> <br>
                    <a> 1111 AA fruit</a> <br>
                    <a>sopranos@gmail.com</a> <br>
                    <a> 06-12345678</a> <br>

                </p>
            </footer>
        </footer>
    </div>

    </div>
{% endblock %}
