{%  extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>Bestellen</h1>

                {{ form_start(departmentForm) }}
                {{ form_widget(departmentForm) }}
                {{ form_end(departmentForm) }}

               </div>
        </div>
    </div>
{% endblock %}